<!DOCTYPE html>
<html>
<head>
  <title>Mademoiselle BlaBla</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="printable">

<div id="page">
    <%= yield %>
</div>
</body>
</html>
