%h1 Stock :: recevoir
.actions2
  = link_to 'Retour', stocks_path
  \/
  %a{href: "/", onclick: "document.forms[0].submit(); return false;"} Enregistrer

-if @production
  = render 'form_production'

