/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#commande_filter select {
  width: 130px;
  margin: -3px 0;
  padding: 0px 0px 0px 3px;
  height: 18px;
  color: #333333;
  font-size: 8pt; }

table.commande {
  min-width: 100%; }

table.commande td {
  text-align: center;
  width: 40px; }

table input {
  width: 24px;
  text-align: right; }

body.printable {
  background-color: #FAFAFA; }

#page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm 2cm 1cm 2cm;
  margin: 0cm auto;
  border: 1px #D3D3D3 solid;
  background: white;
  font-size: 9pt;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

#page .title {
  color: #DF01A5;
  width: 100%;
  height: 40px;
  font-size: 28pt;
  font-weight: bold; }

@page {
  size: A4;
  margin: 0; }

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always; } }
#page h1 {
  color: #555555;
  width: 100%;
  font-size: 16pt;
  border-bottom: 0px;
  margin-bottom: 30px; }

#page .client {
  color: #000000;
  width: 7cm;
  font-size: 10pt;
  text-align: left;
  display: block;
  position: absolute;
  margin-top: 1cm;
  margin-left: 10cm; }

#page .client p {
  margin: 0px 0px 2px 0px; }

#page p.alert {
  width: 100%;
  text-align: justify;
  color: #990000; }

#page table {
  margin: 80px auto 10px auto;
  width: 100%;
  /*font-size: 11pt;*/ }

#page tr.facture td {
  text-align: center; }

#page tr.facture > td:first-child {
  text-align: left;
  padding-left: 5px; }

#page tr > td:last-child {
  padding-right: 10px;
  text-align: right; }

#page tr.blank, #page tr.blank td {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  background-color: #FFFFFF; }

#page td.total, #page td.grandtotal, #page tr.blank > td.total, #page tr.blank > td.grandtotal {
  text-align: right;
  padding-right: 10px;
  font-weight: normal;
  font-style: normal;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3; }

#page tr.blank > td.grandtotal {
  font-weight: bold; }

#page tr.blank td.info {
  font-size: 8pt;
  text-align: justify;
  padding-right: 15px;
  color: #333366; }

#page tr.sep {
  border-bottom: 1px solid #FFFFFF;
  background: #FFFFFF; }

#page .footer {
  width: 100%;
  text-align: right;
  display: block; }

#page p.reference {
  margin-top: 6.5cm;
  margin-bottom: -70px;
  font-size: 9pt; }

#page p.legislation {
  margin-top: 0px;
  width: 100%;
  text-align: justify;
  font-size: 7pt; }

#page p.informations {
  width: 16.9cm;
  text-align: justify;
  color: #777777;
  font-size: 8pt;
  position: absolute;
  top: 28cm;
  display: block; }
td.neg {
  color: #993333; }

tr.designation > td.neg {
  color: #FFFFFF;
  background-color: #993333; }

td.zero {
  color: #CCCCCC; }
* {
  padding: 0; }

html, body {
  min-height: 96%;
  width: 96%;
  margin: 0;
  padding: 0;
  font: normal 9pt/1.3 Helvetica, Arial, sans-serif;
  color: #444444;
  background-image: url(/assets/noise-background.png); }

#title, #navigation, #main {
  max-width: 600px;
  width: 80%;
  margin: 3px auto 10px auto; }

#header {
  background-color: #C71585;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 50px;
  border-bottom: 1px solid #AF0075;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.26);
  z-index: 3; }

div#title {
  color: #FFFFFF;
  font-size: 16pt;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0px auto 0px auto;
  padding: 20px 0px 0px  0px; }

div#header2 {
  background-color: #9ACD32;
  width: 100%;
  margin: -3px 0px;
  z-index: 0;
  padding: 0px;
  height: 20px;
  border-bottom: 1px solid #999999;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.26); }

#main {
  margin: 20px auto 20px auto;
  height: 100%;
  padding: 10px 20px 20px  20px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.26); }

form {
  width: 100%; }

div#navigation {
  font-size: 90%;
  color: #6A9D02;
  padding: 3px 0 0 5px;
  text-align: left;
  border: 0px solid #EEEEEE; }

div#navigation a {
  font-size: 100%;
  color: #FFFFFF; }

div#navigation a:hover {
  color: #CAFD62; }

a {
  background: transparent;
  color: #9ACD32;
  text-decoration: none;
  font-size: 90%; }

a:hover {
  color: #999999; }

h1 {
  color: #086A87;
  font-size: 120%;
  display: block;
  width: 100%;
  border-bottom: 0px solid #086A87; }

h2 {
  color: #0489B1;
  font-size: 100%;
  display: block;
  width: 100%;
  border-bottom: 1px solid #0489B1; }

.actions {
  display: block;
  color: #222232;
  text-align: right;
  margin: -30px 2px 15px 0;
  font-size: 100%; }

.erreurs {
  color: #b43104;
  padding-left: 0px; }

.erreurs ul {
  color: #b43104;
  padding-left: 20px;
  margin: 0px 0px 0px 5px; }

.field_with_errors > input, .field_with_errors > textarea, .field_with_errors > select {
  border: 1px solid #b43104;
  box-shadow: 0 0 2px #b43104; }

.field_with_errors > label {
  color: #b43104; }

table {
  margin: 10px auto 0 auto;
  border-collapse: collapse;
  width: 100%;
  border: 0px solid #666677; }

table th {
  background-color: #708090;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding-left: 5px;
  height: 20px;
  border-left: 1px solid #90A0B0;
  border-bottom: 1px solid #FFFFFF; }

table th a {
  color: #FFFFFF; }

table th a:hover {
  color: #FFFFFF; }

th.sorted {
  background: #197B98; }

table th:first-child {
  border-left: 0px; }

tr {
  border-bottom: 1px solid #EEEEEE; }

table.listing tr th:last-child {
  border-right: 3px solid #FFFFFF; }

table.listing tr td:first-child {
  border-left: 3px solid #FFFFFF; }

table.listing tr td:last-child {
  border-right: 3px solid #FFFFFF; }

table.listing tr:not(:first-child):hover {
  cursor: pointer; }
  table.listing tr:not(:first-child):hover td:first-child {
    border-left: 3px solid #9ACD32; }
  table.listing tr:not(:first-child):hover td:last-child {
    border-right: 3px solid #9ACD32; }

/*table.listing tr:hover td:first-child{
  border-left:3px solid #9ACD32;
}
table.listing tr:hover td:last-child{
  border-right:3px solid #9ACD32;
}*/
tr:nth-child(odd) {
  background-color: #F3F3F3; }
  tr:nth-child(odd) input {
    background-color: #F3F3F3; }

tr:nth-child(even) {
  background-color: #FFFFFF; }

tr > td:first-child {
  padding-left: 10px;
  text-align: left; }

table td {
  margin: 0;
  padding: 2px 5px 2px 5px;
  text-align: left;
  border: 0px; }

tr.designation {
  background-color: #9999AA;
  color: #FFFFFF;
  border-top: 2px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-align: center; }

tr.designation td {
  border-left: 1pt solid #AAAABB; }

tr.designation > td:first-child {
  width: 230px;
  padding-left: 10px;
  text-align: left;
  border-left: 0px; }

td.left {
  text-align: left; }

td.right {
  text-align: right; }

td.center {
  text-align: center; }

dl {
  margin-bottom: 15px; }

dt, label {
  margin: 0;
  padding: 0 0 0.5em 0;
  float: left;
  clear: left;
  width: 180px;
  text-align: left;
  font-weight: Italic;
  color: #777787; }

dt:after, label:after {
  content: " :"; }

dd {
  width: 304px;
  min-height: 10px;
  margin: 0 0 10px 180px;
  padding: 0 0 0.5em 0; }

input {
  height: 14px;
  margin: 2px 0 0 0; }

td > input {
  padding: 2px 1px 2px 1px;
  margin: 1px 0 -1px 0; }

input, textarea, select {
  width: 353px;
  margin: 0px 0 4px 0;
  background: #FFFFFF;
  color: #111111;
  border: 1px solid #CCCCCC;
  line-height: 1.2;
  border-radius: 0;
  font-size: 9pt;
  -webkit-appearance: none;
  padding: 4px;
  vertical-align: top;
  font-family: Verdana, sans-serif; }

select {
  background: #FFFFFF;
  color: #111111;
  border: 1px solid #CCCCCC;
  width: 363px;
  padding: 2px;
  line-height: 1;
  border-radius: 0;
  height: 22px;
  font-size: 9pt;
  -webkit-appearance: none; }

select.day {
  width: 50px; }

select.month {
  width: 100px; }

select.year {
  width: 70px; }

form table {
  width: 250px;
  vertical-align: top;
  margin: 0px 0px 0 0;
  border-collapse: collapse;
  border: 0px solid #666677;
  text-align: left; }

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border: 1px solid #808080;
  background: #FFF;
  -webkit-appearance: none; }

select.taille {
  width: 60px;
  margin: -2px 0 2px 0; }

td.info_0 {
  color: #FFFFFF;
  background-color: #483D8B; }

td.info_1 {
  color: #FFFFFF;
  background-color: #FCD400; }

td.info_2 {
  color: #FFFFFF;
  background-color: #FF4500; }

td.info_3 {
  color: #FFFFFF;
  background-color: #5F9EA0; }

td.info_4 {
  color: #FFFFFF;
  background-color: #ADFF2F; }

img.header-shadow {
  bottom: -2px;
  display: block;
  margin: 2px auto;
  width: 600px; }
