%h1 Catalogue :: couleur :: modifier
.actions2
  = link_to 'Retour', couleurs_path
  \/
  %a{href: "/", onclick: "document.forms[0].submit(); return false;"} Enregistrer
  \/
  = link_to 'Supprimer', @couleur, :method => :delete, :data => { :confirm => 'Etes-vous sur de vouloir supprimer cette couleur ?' }

= render 'form'
