%h1 Catalogue :: couleurs

.actions2
  = link_to ' + Ajouter une couleur', new_couleur_path()

%table.listing
  %tr
    %th= "Intitulé"

  - @couleurs.each do |couleur|
    %tr{onclick: "window.location = $(this).attr('url')", url: edit_couleur_path(couleur)}
      %td= couleur.nom



