%h1 Clients :: modification
.actions
  = link_to 'Annuler', client_path(@client)
  \|
  %a{href: "/", onclick: "document.forms[0].submit(); return false;"} Enregistrer

= render "/application/errors", :@record => @stock

= render 'form'
