%h1 Agents
.actions2
  = link_to ' + Ajouter un agent', new_agent_path()

%table.listing
  %tr
    %th{width: "150px;"} Nom
    %th E-mail

  - @agents.each do |agent|
    %tr{onclick: "window.location = $(this).attr('url')", url: agent_path(agent)}
      %td= agent.nom
      %td= agent.email

