%h1 Agents
.actions
  = link_to ' + Ajouter un agent', new_agent_path()

%table
  %tr
    %th{width: "20px;"}
    %th{width: "150px;"} Nom
    %th E-mail

  - @agents.each do |agent|
    %tr
      - if agent.patron.nil?
        %td= link_to  ">", agent_path(agent)
      - else
        %td
      %td= agent.nom
      %td= agent.email

