// Place all the styles related to the commandes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.filtre {
  margin: -10px 0px 20px 0px;
  width: auto;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;


  /*
  border: 1px solid #9ACD32;
  box-shadow:inset 0 0 2px 0 rgba(0,0,0,.3);
  moz-box-shadow:inset 0 0 2px 0 rgba(0,0,0,.3);
  */
  div {
    display: block;
  }


  select{
  width: 180px;
  margin: 0px 0;
  padding: 0px 0px 0px 0px;
  height:16px;
  color: #333333;
  background-color: #FFFFFF;

}
}


.commande_aide {
  margin: -10px 0px 15px 0px;

  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  h2 {
    margin-top:5px;
  }

  .aide_blobs {
    display: table;
    margin: -4px 0px 8px 20px;
  height: 15px;
  width: 100%;
  }
  .aide_blob {
    height: inherit;
    width: 111px;
    float: left;
    display: table-column;
    margin-right: 6px;

   .aide_head {
    background-color: #CCCCCC;
    color: #FFFFFF;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
    padding: 1px 0 1px 0;
    margin: 0;

    &[data-status="0"] { background-color: #483D8B; }

    &[data-status="1"] { background-color: #B0C4DE; }

    &[data-status="2"] { background-color: #FF4500; }

    &[data-status="3"] { background-color: #FCD400; }

    &[data-status="4"] { background-color: #66CDAA; }
}
   .aide_content {
     font-size: 70%;
     color: #999999;
     text-align: justify;
     padding: 2px 3px 2px 3px;
    }


   }

}


.commande_blob{
  margin: 0px 0px 10px 0px;
  padding: 2px 0px 0px 10px;
  border-left: 4px solid #CCCCCC;
  height: 50px;
  width: 98%;
  display: table;
  -moz-box-shadow: 0 0 2px 0px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 2px px rgba(0,0,0,.3);
  box-shadow: 0 0px 2px 0px rgba(0,0,0,.3);


  &[data-status="0"] {
    border-color: #483D8B;
  }

  &[data-status="1"] {
    border-color: #B0C4DE;
  }

  &[data-status="2"] {
    border-color: #FF4500;
  }

  &[data-status="3"] {
    border-color: #FCD400;/*#5F9EA0;*/
  }

  &[data-status="4"] {
    border-color: #ADFF2F;
  }

  &:hover{
    cursor: pointer;
    background-color: #FCFCFC;
    box-shadow: 0 0px 3px 0px rgba(0,0,0,1);
  }

  .left {
    height: inherit;
    width: 310px;
    float: left;
    display: table-column;
    border-right: 1px dashed #DDDDDD;

  .client {
    font-size: 1.4em;
    color: #333333;
  }
  .ref {
    font-size: 1em;
    color: #5F9EA0;
    &:before{ content: '# ';}
  }

  .status {
  font-size: 70%;
  font-weight: bold;
  color: #B0B0B0;
  }
  }

  .center{
    width: 90px;
    height: inherit;
    float: left;
    display: table-column;
    border-right: 1px dashed #DDDDDD;
    text-align: right;
    padding-right: 10px;

 .prix {
    font-size: 1.3em;
    color: #B0B0B0;

  }

  .pieces {
      font-size: .8em;
      color: #444444;
      font-weight: bold;

    }
}
  .right {
       width: 140px;
       margin-right: 0px;
        height: inherit;
        float: right;
        display: table-column;
       padding-right: 10px;
       font-size: 90%;
       text-align: right;
      .lab {
        display: inline-block;
        width: 80px;
        color: #BBBBBB;
      }

      .date {
        clear: right;
        display: inline-block;
        color: #708090;
      }

  }

}


table.commande {
  min-width: 100%;
  }

table.commande td {
text-align: center;
width: 40px;
}
table input {
width: 24px;
text-align: right;
}



body.printable{
      background-color: #FAFAFA;
  }
#page {
width: 21cm;
min-height: 29.7cm;
padding: 1cm 2cm 1cm 2cm;
margin: 0cm auto;
border: 1px #D3D3D3 solid;
background: white;
font-size: 9pt;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#page .title {
color: #DF01A5;
width: 100%;
height: 40px;
font-size: 28pt;
font-weight: bold;
}

@page {
    size: A4;
}

@media print {
    .page {
            margin: 2.5cm 0 2.5cm 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
   }
}

#page h1 {
color: #555555;
width: 100%;
font-size: 16pt;
border-bottom: 0px;
margin-bottom: 30px;
}

#page p{
  color: #000000;
  margin: 0;
  padding: 0;
}
#page .client {
color: #000000;
width: 7cm;
font-size: 10pt;
text-align: left;
display: block;
position: absolute;
margin-top: 1cm;
margin-left: 10cm;

}
#page .client p{
  margin: 0px 0px 2px 0px;
}

#page p.alert {
  width: 100%;
  text-align: justify;
  color: #990000;
  margin-top: 10px;
}
#page table {
  margin: 80px auto 10px auto;
  width: 100%;
  /*font-size: 11pt;*/
}

#page tr.facture td {
  text-align: center;
}
#page th {
  font-size: 90%;
}

#page tr.facture > td:first-child {
text-align: left;
padding-left: 5px;
}


#page tr > td:last-child {
  padding-right: 10px;
  text-align: right;

}
#page tr.blank, #page tr.blank td  {
 border-top: 1px solid #FFFFFF;
 border-bottom: 1px solid #FFFFFF;
 font-style: italic;
 font-weight:normal;
 text-align: left;
  background-color: #FFFFFF;
}

#page td.total, #page td.grandtotal, #page  tr.blank > td.total, #page tr.blank > td.grandtotal  {
  text-align: right;
  padding-right: 10px;
  font-weight: normal;
  font-style: normal;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
}

#page tr.blank > td.grandtotal {
  font-weight: bold;
}

#page tr.blank  td.info {
  font-size: 8pt;
  text-align: justify;
  padding-right: 15px;
  color: #333366;
}

#page tr.sep {
  border-bottom: 1px solid #FFFFFF;
  background: #FFFFFF;
}



#page .footer {
  width: 100%;
  text-align: right;
  display: block;

}

#page p.reference {
  margin-top: 6.5cm;
  margin-bottom: -70px;
  font-size: 9pt;
}


#page p.legislation {
  margin: 0 0px 0 0px;
  text-align: justify;
  font-size: 7pt;
  color: #666666;
}

#page p.informations{
  width: 16.9cm;
  text-align: justify;
  color: #777777;
  font-size: 8pt;
  position:absolute;
  top: 28cm;
  display: block;

}
