// Place all the styles related to the quantites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td.neg {
	color: #993333;
}

tr.designation > td.neg {
	color: #FFFFFF;
	background-color: #993333;
}

td.zero {
	color: #CCCCCC;
}