* {padding: 0;
	
	}
html, body {
  margin: 0;
  height: 96%; 
  padding: 0;
  color: #333333;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
  /*background-image: url(image_path('dorian2.png'));*/
}
#title, #navigation, #main{
  max-width: 600px;
  width: 80%;
  margin: 5px auto 20px auto;
	
}
div#header{
	background-color: #DF01A5; 
	width: 100%;
    margin: 0px;
    padding: 0px;
    height: 80px; 

}
div#title {
  color: #FFFFFF;
  font-size: 250%;
  display: block;
  font-weight: bold;
  margin: 0px auto 5px auto;
  padding: 40px 20px 20px  20px;
}

div#main {
  margin: -20px auto 10px auto;
  height: auto !important; 
  height: 100%; 
  padding: 10px 20px 20px  20px;

}


form {
	width: 100%;
}
	
div#navigation {
	font-size:90%;
  
color: #74DF00;
}
div#navigation a {
	font-size:100%;
  
color: #999999;
}
div#navigation a:hover {
color: #666666;
}
a {
  background: transparent;
  color: #74DF00;

  text-decoration: none;
  font-size:90%;
}
a:hover {
  color: #999999;

}

h1 {
  color: #086A87;
  font-size: 120%;
  display: block;
  width: 100%;
  border-bottom: 2px solid #086A87;
}

h2 {
  color: #0489B1;
  font-size: 100%;
  display: block;
  width: 100%;
  border-bottom: 2px solid #0489B1;
}
div.actions {
	display:block;
	color: #222232;
	text-align:right;
	margin: -30px 2px 0 0;
	font-size:100%;
}

table {
  margin: 10px auto 0 auto;
  border-collapse: collapse;
  width: 100%;
  border: 0px solid #666677;
}
table th {
	background-color: #086A87;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-left: 5px;
	height: 20px;
	border-left: 1px solid #288AA7;
	border-bottom: 1px solid #FFFFFF;
}

table th:first-child {
	border-left: 0px;
}

tr {
  border-bottom: 1px solid #AAAAAA;	
}

tr > td:first-child {
  padding-left: 10px;
  text-align: left;	
}

table td {
  margin: 0px;
  padding: 2px;
  text-align: left;
  border: 0px;
}

tr.designation {
	background-color: #9999AA;
	color: #FFFFFF;
	border-top: 2px solid #FFFFFF;	
	border-bottom: 1px solid #FFFFFF;	
	text-align: center;
}

tr.designation td {
	border-left: 1pt solid #AAAABB;	
}
tr.designation > td:first-child {
  width: 230px;
  padding-left: 10px;
  text-align: left;
  border-left: 0px;

}





dl {
   margin-bottom:15px;
}




dt, label { 
 margin: 0; 
 padding: 0 0 0.5em 0;
 float: left; 
 clear: left; 
 width: 180px; 
 text-align: left; 
 font-weight: Italic; 
  color: #777787;
 } 

dt:after, label:after { content: " :"; } 

dd { 
width:304px;
height: 12px;
margin: 0 0 10px 180px; 
padding: 0 0 0.5em 0; 
}

input {
    height: 14px;
    margin: 2px 0 0 0;

}

input, textarea, select {
    width:353px;
    margin: 0px 0 4px 0;
	background: #FFFFFF;
	   color: #111111;
	   border: 1px solid #CCCCCC;
	   line-height: 1.2;
	   border-radius: 0;
	   font-size:9pt;
	   -webkit-appearance: none;
       padding: 4px;
    vertical-align: top;
  font-family: Verdana, sans-serif;

}

select {
	background: #FFFFFF;
	   color: #111111;
	   border: 1px solid #CCCCCC;
   width: 363px;
   padding: 2px;
   line-height: 1;
   border-radius: 0;
   height: 22px;
   font-size:9pt;
   -webkit-appearance: none;
   }

form table {
	width: 250px;
	vertical-align: top;
	margin: 0px 0px 0 0;
    border-collapse: collapse;
    border: 0px solid #666677;
text-align: left;
}
input[type="checkbox"]{
    width: 12px;
    height: 12px;
    border: 1px solid #808080;
    background: #FFF;
   -webkit-appearance: none;

}

select.taille{
	width:60px;
	margin: -2px 0 2px 0;
}